body {
    margin-top: 50px;
}

.container .form-body {
    margin-bottom: 15px;
}

.container .error {
    color: red;
    font-size: 16px;
    font-weight: 500;
    font-family: inherit, sans-serif;
}

.col-auto {
    width: 300px;
}

.words__list_item {
    font-size: 20px;
}